{
  "presets": [
    "@babel/flow",
    "@babel/env",
    ["@babel/stage-2", {
      "useBuiltIns": true,
      "decoratorsLegacy": true
    }],
    ["@babel/react", {
      "useBuiltIns": true,
      "decoratorsLegacy": true
    }]
  ]
}
