.board {
  height: 100%;
  display: flex;
  flex-direction: column;
  // overflow: auto;
}

.board-header {
  color: #FFFFFF;
  margin: 12px 12px 9px 12px;
}

.board-title {
  font-size: 18px;
  margin: 0 0 0 8px;
}

.lists {
  display: flex;
  align-items: flex-start;
  margin: 12px 7px;
  height: 100%;
}

.list {
  width: 270px;
  background: #F8F8F8;
  color: #333;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.list-title {
  display: flex;
  flex-shrink: 0;
  height: 40px;
  align-items: center;
}

.list-title-button {
  flex-grow: 1;
  padding: 10px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  background: #F8F8F8;
  color: #333;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-top-left-radius: 3px;
}

.delete-list-button {
  border: 0;
  border-radius: 4px;
  color: #333;
  background: #F8F8F8;
  cursor: pointer;
  font-size: 18px;
}

.delete-list-button:hover,
.delete-list-button:active {
  color: #DA3849;
}

.list-title-textarea-wrapper {
  padding: 10px;
}

.list-title-textarea {
  border-radius: 4px;
  border: 2px solid #E2E2E2;
  padding: 6px;
  overflow: hidden;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: inherit;
  resize: none;
}

.cards {
  overflow-y: auto;
  overflow-x: hidden;
}

.card-title {
  background: #FFFFFF;
  border: 2px solid #E2E2E2;
  border-radius: 4px;
  padding: 8px;
  margin: 0 10px 10px 10px;
  position: relative;
  overflow-wrap: break-word;
  user-select: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.card-title:hover {
  border-color: #9D9D9D;
}

.edit-card-button {
  position: absolute;
  right: 3px;
  border: 0;
  border-radius: 4px;
  opacity: 0.1;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-card-button:hover,
.delete-card-button:active {
  opacity: 1;
}

.delete-card-button {
  position: absolute;
  right: 28px;
  border: 0;
  border-radius: 4px;
  opacity: 0.1;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-card-button:hover,
.delete-card-button:active {
  color: #DA3849;
  opacity: 1;
}

.open-composer-container {
  display: flex;
  justify-content: center;
  background: #F8F8F8;
  padding: 0 10px 10px 10px;
  border: none;
  cursor: pointer;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.open-composer-button {
  font-size: 24px;
  color: #01a9db;
}

.open-composer-button:hover,
.open-composer-button:active {
  opacity: 0.85;
}

.textarea-wrapper {
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.list-textarea {
  border-radius: 4px;
  border: 2px solid #E2E2E2;
  padding: 8px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  resize: none;
}

.submit-card-button {
  background: #5aac44;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 12px 8px 12px;
  margin: 8px 0 0 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s;
}

.submit-card-button:hover {
  background: #4a9a34;
}

.submit-card-button:focus {
  background: #3a8a24;
}

.add-list-button {
  background: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  font-size: 14px;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 0 5px 0 5px;
  transition: background 0.2s;
}

.add-list-button:hover,
.add-list-button:focus {
  background: #FFFFFF;
}

.add-list-icon {
  padding-right: 4px;
}
