@import 'variables';

body {
  margin: 0;
  overflow-x: auto;
  color: $text-grey;
  background-image: $background-gradient;
  min-height: 100vh;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

a:-webkit-any-link {
  text-decoration: none;
  text-decoration-color: none;
  color: $text-grey;
}

:focus {
  outline: none;
}

.lists-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 8px;
}

@media (max-width: 768px) {
  .lists-wrapper {
    flex-direction: column;
  }
}

.list {
  width: 268px;
  background: $background-grey;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  & .card-title {
    background: $white;
    box-shadow: $brand-box-shadow;
    margin: 0 10px 10px 10px;
    padding: 8px;
    border-radius: 5px;
    position: relative;
    overflow-wrap: break-word;
    overflow: visible;
    word-wrap: break-word;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .card-title:hover,
  .card-title:active,
  .card-title:focus {
    box-shadow: $brand-box-shadow-hover;
  }
}
