// Colors
$white: rgb(255, 255, 255);
$text-grey: rgb(46, 68, 78);
$background-grey: rgb(248, 248, 248);
$gradient-nil: rgb(118, 75, 162);
$gradient-hunnit: rgb(102, 126, 234);
$background-gradient: linear-gradient(to top, $gradient-nil 0%, $gradient-hunnit 100%);
