body {
  margin: 0;
  background: #E2E2E2;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

:focus {
  outline: none;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
